@page
@model AirbnbWebApp.Pages.bill.DeleteModel
@{
}
<body style=" background-color:#C8998F">
<br>
<h2>Delete Airbnb</h2>
@*
    Checking for error message
*@
@if (@Model.errorMessage.Length > 0)
{
	<div>@Model.errorMessage</div>
}

@*
	A form to delete a particular airbnb from Airbnb database
*@
<form method="POST">
	<input type="hidden" name="id" value="@Model.bill.Id" />
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="@Model.bill.name"></td>
        </tr>
       
	</table>
	<p></p>
	<input type="submit" value="Delete" class="btn btn-primary" />
</form>
</body>
