@page
@model AirbnbWebApp.Pages.bill.MaxModel
@{
}
<body style=" background-color:#C8998F">
    @*displaying the Airbnb with highest price*@
<p>The Airbnb with highest price: </p>
<div>$@Model.max</div>
</body>
