@page
@model IndexModel
@{
}

<br>
<h2>List of Bills</h2>

<a class='btn btn-primary btn-sm' href='/Bills/Create'>Bills</a>

<table class="table">
    <thread>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.Bills)
        {
            <tr>
                <td>@item.Category</td>
                <td>@item.Amount</td>
                <td>@item.Date</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Bills/Edit?id=@item.Id">Edit</a>
                    <a class="btn-danger btn-sm" href="/Bills/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn-danger btn-sm" href="/Bills/Mean">Get Mean</a>
<a class="btn-danger btn-sm" href="/Bills/Max">Get Max</a>
<a class="btn-danger btn-sm" href="/Bills/GetItem">Get Item</a>