@page
@model AirbnbWebApp.Pages.bill.MaxModel
@{
}
<body style=" background-color:#C8998F">
    @*displaying the Airbnb with highest price*@
<h2>The Airbnb with highest price: </h2>
<div>
    <h2>$@Model.max</h2></div>
</body>