@page
@model AirbnbWebApp.Pages.bill.MeanModel
@{
}
@*
    Displaying the average cost of all the Airbnbs listed
*@
<body style=" background-color:#C8998F">
<h2>The average price of Airbnb Listed : </h2>

<div><h2>$@Model.mean</h2></div>
</body>