@page
@model AirbnbWebApp.Pages.bill.MeanModel
@{
}
@*
    Displaying the average cost of all the Airbnbs listed
*@
<body style=" background-color:#C8998F">
<p>The average price of Airbnb Listed : </p>

<div><p>$@Model.mean</p></div>
</body>