@page
@model AirbnbWebApp.Pages.bill.PredictiveModel
@{
}
@*
    Displaying the predictive price of Airbnb among various neighbourhood groups
*@

<body style=" background-color:#C8998F">
<h2>The Predictive price of Airbnb in this neighbourhood is : </h2>

<div><h2>$@Model.group</h2></div>
</body>