@page
@model AirbnbWebApp.Pages.bill.PredictiveModel
@{
}
@*
    table displaying all the Airbnb that Accomodates the number of people required by the guest
*@

<body style=" background-color:#C8998F">
<p>The Predictive price of Neightbourhood group : </p>

<div><p>$@Model.group</p></div>
</body>