@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Page for all the featues and functionalities*@

<body style=" background-color:#C8998F">
    
<div class="text-center">
        <h1 class="display-4">AIRBNB RESERVATION</h1>
        <br>
        @* Displaying the CRUD operations*@
        <a class="btn-danger btn-sm" href="~/bill/Index">CRUD</a><br>
        <br>
        @* Displaying Data Analysis methods*@
        <a class="btn-danger btn-sm" href="~/bill/Max">Get Highest</a>
        <br>
        <br>
        <a class="btn-danger btn-sm" href="~/bill/Mean">Get Mean</a>
        <br>
        <br>
        <a class="btn-danger btn-sm" href="~/bill/Availability">Check Availability</a>
        <br>
        <br>
        <a class="btn-danger btn-sm" href="~/bill/Child">Check Child Safety</a>
<br>
        <form action="/bill/MaxPeople" method="get">
            <div class="input-group">
                <input type="text" name="dId" class="form-control" placeholder="Max">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Check Accommodation</button>
                </span>
            </div>
        </form>
<br>
<br>
        <form action="/bill/Predictive" method="get">
            <div class="input-group">
                <input type="text" name="grp" class="form-control" placeholder="grp">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Group Prediction</button>
                </span>
            </div>
        </form>
       


<br>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>
